<mat-card class="header">
    <mat-card-title>
        {{ title }}

        <ng-container *ngIf="isOrg && action === 'add'">
            <button mat-button  color="warn">
                <span class="material-icons">
                    delete
                </span>
                Eliminar
            </button>

            <button mat-button color="rejected">
                <span class="material-icons">
                    auto_awesome
                </span>
                Generar Grupos
            </button>
        </ng-container>

        <a *ngIf="action === 'add'" 
            [routerLink]="['add']" mat-button color="gradient" class="participant-action">
            <span class="material-icons">
                add
            </span>
            {{isOrg ? 'Crear Grupo' : 'Nuevo'}}
        </a>

        <button *ngIf="action === 'back'" class="back" mat-button (click)="onBack()">
            <span class="button-content">
                <span class="material-icons material-icons--outline">
                    close
                </span>
                ESC.
            </span>
        </button>
    </mat-card-title>
</mat-card>

<div class="group-content">
    <router-outlet></router-outlet>
</div>