<mat-form-field appearance="fill" class="no-padding short">
  <mat-label>Inicio</mat-label>
  <input type="time" matInput placeholder="HH:MM"
    required name="dateStart"
    [(ngModel)]=" timeStart "
    [max]="_mab.dateEnd"
    [formControl]="dIniReq"
    (change)="edit()"
  >
  </mat-form-field>
  <mat-form-field appearance="fill" class="no-padding short">
  <mat-label>Fin</mat-label>
  <input type="time" matInput placeholder="HH:MM"
    required name="dateEnd"
    [(ngModel)]=" timeEnd "
    [min]="_mab.dateStart"
    [formControl]="dEndReq"
    (change)="edit()"
  >
</mat-form-field>
<button mat-icon-button aria-label="remove" color="warn" (click)="remove()">
  <mat-icon>remove</mat-icon>
</button>