<mat-card class="header">
  <mat-card-title>{{title}}</mat-card-title>

  <mat-form-field appearance="fill" class="no-padding">
    <mat-label>Semana</mat-label>
    <mat-date-range-input [formGroup]="weekForm" [rangePicker]="picker">
      <input matStartDate placeholder="" formControlName="start" (dateChange)="addEvent($event)">
      <input matEndDate placeholder="" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
  </mat-form-field>

  <div class="filters" class="row">
    <span *ngFor="let option of typesFilter">
      <mat-checkbox  name="options" value="{{option.label}}" [(ngModel)]="option.checked">
      {{option.label}}
      </mat-checkbox>
    </span>
  </div>

</mat-card>


<div class="content">
  <app-microevents-list *ngIf="editable" [events]="eventsPending"
  [types]="selectedOptions"></app-microevents-list>
  <app-timeline [items]="eventsAvailables" [checks]="selectedOptions"
    [dateStart]="week.dateStart" [dateEnd]="week.dateEnd" [editable]="editable">
    <!-- [filteredResp]="nameFiltered" -->
  </app-timeline>
</div>
