
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.content > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header mat-card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back{
    font-size: 10px;
    line-height: 1.5;
}

.back .button-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.form {
    min-width: 150px;
    max-width: 320px;
    width: 100%;
}
  
.input-container {
    width: 100%;
}

.input-container input {
    width: 100%;
    padding: 0 4px;
}

.form .imagePreview {
    width: 100%;
    min-height: 160px;
}

.form .imagePreview img{
    width: 100%;
    height: auto;
}

.participants-section{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.participants-section .participants{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.participants .participant-label{
    width: 100%;
    max-width: 198px;
    background: #DCEBEB;
}

.creator-label{
    font-size: 10px;
    padding: 0 24px;
    min-height: 18px;
    background: var(--corporative-lightest);
}

.game-card {
    max-width: 400px;
    margin-bottom: 24px;
}

.mat-card-actions{
    padding: 0;
    margin-bottom: 8px;
}

.mat-card-image{
    height: 200px;
    object-fit: cover;
}

.content{
    margin-top: 24px;
}