<mat-card class="header">
  <button mat-button color="warn" [routerLink]="['../edit/'+mentorId]">
    <mat-icon>remove</mat-icon>
    Quitar de edición
  </button>
  <mat-card-title>{{title}}</mat-card-title>
  <button class="back" mat-button (click)="onBack()">
    <span class="button-content">
      <span class="material-icons material-icons--outline">
          close
      </span>
      ESC.
    </span>
  </button>
</mat-card>


<div class="content">
  
  <form>

    <div class="row">
      <button mat-button> <mat-icon>edit</mat-icon> Edit </button>
      <h2>{{nomMentor}}</h2>
      <mat-form-field appearance="fill" class="no-padding">
        <mat-label>Status</mat-label>
        <mat-select [ngModel]="mentor.status" name="status">
          <mat-option *ngFor="let s of states" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    

    <h3>Disponibilidad</h3>

    <div class="row">
      <div *ngFor="let dt of daysAvailab" class="day">
        <h4>{{dt.day}}</h4>
        <app-mentors-time
          *ngFor="let a of dt.times"
          [mentorAvailab]="a"
          (mentorAvailabChange)="a"
          (toRemove)="remove(a, dt.date)">
        </app-mentors-time>
        <button mat-button (click)="addElement(dt.date)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    
    <div class="row">
      <button mat-button color="gradient" (click)="save()">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </div>

  </form>
</div>