:host form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

:host form .row {
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
}
:host form > .row:first-of-type {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

:host .content {
  justify-content: center;
}
:host h2 {
  margin: 0px;
}

:host .day {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
  min-width: 12em;
}
:host .day h4 {
  margin: 0px;
}