<body>
<div class="card">
    <h1 class="titulo">
        ¡LGJ WebApp te da la bienvenida!
    </h1>
    <h2 class="text1">
        Por favor rellena los datos para poder registrarte como usuario.
    </h2>
    <div class="text2">
        Datos de registro
    </div>
    <div>
        <form class="form" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            {{userForm.value | json}}
            <hr />
            {{userModel | json}}
            <div class="inputBox">
                <input type="text" id="username" name="username" required [(ngModel)]="userModel.username" />
                <span>Nombre de usuario</span>
            </div>

            <div class="inputBox">
                <input type="password" name="password" id="contraseña" required [(ngModel)]="userModel.password">
                <span>Contraseña</span>
            </div>

            <div class="inputBox">
                <input type="text" id="nombres" name="nombres" required [(ngModel)]="userModel.nombres">
                <span>Nombres</span>
            </div>

            <div class="inputBox">
                <input type="text" id="apellidos" name="apellidos" required [(ngModel)]="userModel.apellidos">
                <span>Apellidos</span>
            </div>

            <div class="inputBox">
                <input type="email" id="email" name="email" required [(ngModel)]="userModel.email">
                <span>Email</span>
            </div>

            <div class="inputBox">
                <input type="date" id="nacimiento" name="nacimiento" required [(ngModel)]="userModel.nacimiento">
                <span>Fecha de nacimiento</span>
            </div>
            <div class="inputBox" >
                <input type="tel" id="telefono"  name="telefono" required  [(ngModel)]="userModel.telefono">
                <span>Telefono</span>
            </div>
            <div class="distrito" ngModelGroup = "distrito"> 
                <span>Distrito</span>
                <select name="id" id="distrito" [(ngModel)]="userModel.distrito">
                    <option *ngFor="let distrito of distritos" value={{distrito.id}}>{{distrito.nombre}}</option>
                </select>
            </div>
            <div class="inputBox">
                <input type="text"  id="dni" name="dni" required [(ngModel)]="userModel.dni">
                <span>DNI</span>
            </div>

            <div class="radiogroup"  name="genero">
                <div>
                    <span>Genero</span>
                </div>
                <div>
                    <input type="radio" class="option-input radio"  name="genero" value="MASCULINO" [ngModel]="userModel.genero"/>
                    <span>Masculino</span>
                </div>
                <div>
                    <input type="radio" class="option-input radio" name="genero" value="FEMENINO" [ngModel]="userModel.genero"/>
                    <span>Femenino</span>
                </div>
                <div>
                    <input type="radio" class="option-input radio"  name="genero" value="OTRO" [ngModel]="userModel.genero"/>
                    <span>Otro</span>
                </div>
                <div>
                    <input type="radio" class="option-input radio"  name="genero" value="NA" [ngModel]="userModel.genero"/>
                    <span>NA</span>
                </div>
            </div>
            <button type="submit">
                Registrarme
            </button>
        </form>
    </div>
</div>  
</body>



