<style>
  :host {
    font-family: -apple-system, 'Urbanist', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: var(--primary-text-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="container">
  <!-- Sidenav -->
  <mat-sidenav-container class="sidenav">
    <mat-sidenav>Lima Board Game Jam 2022</mat-sidenav>
    <mat-sidenav-content>
      <p class="title">Lima Board Game Jam 2022</p>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <!-- Main content -->
  <div class="inner-container">
    <router-outlet></router-outlet>
  </div>
</div>