.container{
    display: flex;
    width: 100%;
    min-height: 100%;
}

.inner-container{
    background-color: white;
    width: 100%;
    padding-bottom: 24px;
}

.inner-container .header{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

mat-sidenav {
    width: 170px;
    background: var(--secondary-background-color);
    padding: 12px 0;
}

mat-sidenav-content{
    width: 100%;
}