<style>
  :host {
    font-family: -apple-system, 'Urbanist', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: var(--primary-text-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<app-navbar></app-navbar>

<div class="container">
  <!-- //TODO: Add left menu to separete component ? -->
  <div class="left-menu">
    <p class="title">Lima Board Game Jam 2022</p>

  </div>
  <div class="inner-container">
    <router-outlet></router-outlet>
  </div>
</div>