<style>
  :host {
    background: var(--background-paper);
    color: var(--text-color-primary);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<app-toolbar [(selectedEdition)]="selectedEdition"></app-toolbar>

<mat-sidenav-container class="container">
    <!-- Sidenav -->
    <mat-sidenav mode="side" opened [disableClose]="true" #sidenav> 
      <app-sidenav [currEdition]="selectedEdition"></app-sidenav>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
      <div class="inner-container">
        <app-header [title]="title"></app-header>
        <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>