<mat-card class="header">
  <mat-card-title>{{title}}</mat-card-title>
  <button class="back" mat-button (click)="onBack()">
    <span class="button-content">
      <span class="material-icons material-icons--outline">
          close
      </span>
      ESC.
    </span>
  </button>
</mat-card>


<div class="content">
  <form>

    <div>

      <mat-form-field appearance="fill">
        <mat-label>Nombres</mat-label>
        <input type="text" matInput [formControl]="textReq" name="nombres"
          placeholder="Nombres completos" [(ngModel)]="mentor.nombres">
        <mat-error *ngIf="textReq.hasError('required')">
          Por favor, ingrese al menos un nombre.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input type="text" matInput [formControl]="textReq" name="apellidos"
          placeholder="Apellidos completos" [(ngModel)]="mentor.apellidos">
        <mat-error *ngIf="textReq.hasError('required')">
          Por favor, ingrese al menos un apellido.
        </mat-error>
      </mat-form-field>
      
      <img [src]="mentor.urlPhoto"
        class="photo" alt="foto de mentor">
      <mat-form-field appearance="fill">
        <mat-label>URL de foto</mat-label>
        <input type="url" matInput name="urlfoto"
          placeholder="https://dominio.com/nombreimagen.png" [(ngModel)]="mentor.urlPhoto">
      </mat-form-field>
      <!-- #photourl -->

    </div>
    

    <div>

      <!-- <mat-form-field appearance="fill" class="textarea"> -->
        <!-- <mat-label>Breve descripción</mat-label> -->
        <!-- <textarea matInput #input placeholder="Especialidad..."></textarea> -->
        <!-- <mat-hint align="end">{{input.value?.length || 0}}/250</mat-hint> -->
      <!-- </mat-form-field> -->
  
      <mat-form-field appearance="fill">
        <mat-label>Celular</mat-label>
        <input type="text" matInput placeholder="987654321" minlength="9"
          [(ngModel)]="mentor.telefono"  name="celular">
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl"
          placeholder="Ej. pat@example.com" [(ngModel)]="mentor.email" name="email">
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Por favor, ingrese un correo válido.
        </mat-error>
      </mat-form-field>
  
      <div>
        <mat-label>Áreas de experiencia</mat-label>
        <app-item-priority *ngFor="let area of areas"
        [checked]="area.checked" [priority]="area.priority"
        [label]="area.label" [icon]="area.icon"
        (click)="setChecked(area)">
          <mat-form-field appearance="fill" class="no-padding short"
            (click)="$event.stopPropagation()">
            <mat-label>Años de experiencia</mat-label>
            <input type="number" matInput [formControl]="yearsFormControl"
              min="0" max="40" step="1" 
              [(ngModel)]="area.yearsOfExp" name="experiencia">
          </mat-form-field>
        </app-item-priority>
      </div>

    </div>
    
    <div>
      <button mat-button color="gradient" (click)="save()">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </div>

  </form>
</div>
