.content {
  justify-content: center;
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 1em;
  flex-wrap: wrap;
}
form > div, form > div > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 0.25em;
  /* width: calc(50% - 1em); */
}
form > div:last-child {
  flex-basis: 100%;
}
form .mat-button {
  width: fit-content;
  margin: auto;
}

.photo {
  /* width: auto;
  height: auto; */
  width: 16em;
  height: 16em;
  object-fit: cover;
  border-radius: 16em;
}

.textarea {
  min-width: 20em;
}