.participants .participant-label{
    max-width: 198px;
    background: #DCEBEB;
}

.group-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1110px;
}