<div class="content">
    <div class="participants-section">
        <img class="group-image" [src]="group?.photoUrl">
        <p>Desarolladores</p>
        <div class="">
        <mat-chip-list aria-label="Participantes" class="participants" 
            *ngFor="let user of group?.users;">
            <mat-chip class="participant-label" color="#DCEBEB">
                <mat-chip-avatar>
                    <img class="avatar" [src]="user?.nombres"/>
                </mat-chip-avatar>
                {{user?.nombres}}
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
<div>
<h3> Juego </h3>
<h4 *ngIf="!group?.game" >No se ha agregado un Juego!</h4>

<app-card-game 
    *ngIf="group && group.game" 
    [game]="group.game">
</app-card-game>

</div>