<mat-grid-list [cols]="columns" rowHeight="2:1" [gutterSize]="'24px'"
    [style]="'padding: 24px;'" (window:resize)="onBoxResize()">
    <mat-grid-tile *ngFor="let group of groups"
         style="background-color: #fff; border-radius: 5px;">
        <div class="mat-grid-tile">
            <div class="tile-head">
                <mat-checkbox [color]="'primary'" [checked]="group.id !== undefined && selectedGroups.includes(group.id)" (change)="onSelect(group.id)"></mat-checkbox>
                <a class="title" [routerLink]="[group.id]"
                    [queryParams]="{name: group.name}">
                    
                    {{ group.name }}
                </a>
                
                <a mat-icon-button *ngIf="isOrg" [routerLink]="[group.id, 'edit']">
                    <mat-icon>edit</mat-icon>
                </a>
                <button mat-icon-button *ngIf="isOrg"c olor="warn" (click)="openDialog(group.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <ng-component *ngFor="let user of group.users"> 
                {{ user.nombres }},
            </ng-component>
            
            <ng-template *ngIf="userInGroup(group.id, 1); then thenBlock else elseBlock"></ng-template>
            <ng-template #thenBlock>
            <button mat-button color='warn'
                (click)="leaveGroup(group.id)">
                <span class="material-icons">close</span>
                Retirarme
            </button>
            </ng-template>
            <ng-template #elseBlock>
            <button mat-button color='success'
                (click)="joinGroup(group.id)">
                <span class="material-icons">check</span>
                Unirme
            </button>
            </ng-template>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-spinner *ngIf="groups === undefined"></mat-spinner>
<h1 *ngIf="groups?.length === 0">
    No hay grupos
</h1>
