.mat-grid-tile{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 1px rgba(51, 61, 65, 0.25);
    border-radius: 8px;
    gap: 8px;
    width: 100%;
}

.mat-grid-list a{
    font-size: 16px;
    line-height: 19px;
    color: var(--primary-text-color);
    text-decoration: none;
}

.mat-grid-list a:hover{
    color: var(--primary-text-color);
}

