<mat-card matRipple class="mentor-card {{statusClass}}" >
  <!-- [routerLink]="editable ? ['/'] : []"> -->
  <!-- <mat-card-subtitle *ngIf=" time.inicio !== '' ">
    <span>{{mentor.tiempo?.inicio}}</span> - <span>{{mentor.tiempo?.inicio}}</span>
  </mat-card-subtitle> -->
  <mat-card-content class="text-center">
    <p>{{mentor.nombres}} {{mentor.apellidos}}</p>
    <p>
      <mat-icon *ngFor="let icon of areaIcons" >
        {{icon}}
      </mat-icon>
    </p>
  </mat-card-content>
</mat-card>
