<mat-card class="header">
  <mat-card-title>{{title}}</mat-card-title>

  <mat-form-field appearance="fill" class="no-padding">
    <mat-label>¡Fechas del Game Jam!</mat-label>
    <mat-date-range-input disabled [formGroup]="eventDates">
      <input matStartDate placeholder="Fecha de inicio" formControlName="start">
      <input matEndDate placeholder="Fecha de fin" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix disabled></mat-datepicker-toggle>
  </mat-form-field>

  <div class="filters" class="row">
    <span *ngFor="let option of areasFilter">
      <mat-checkbox  name="options" value="{{option.label}}"
      [(ngModel)]="option.checked" matTooltip="{{option.label}}">
        <mat-icon>{{option.icon}}</mat-icon>
      </mat-checkbox>
    </span>
  </div>

  <mat-form-field class="no-padding" appearance="fill">
    <mat-label>Filtrar por nombre</mat-label>
    <input type="text" placeholder="Escribir nombre"
           aria-label="Filtrar por nombre" matInput
           [(ngModel)]="nameFiltered"
           [formControl]="fcNames"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getByFname($event.option.value)'>
      <mat-option *ngFor="let option of mentorNames" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="nameFiltered" matSuffix mat-icon-button aria-label="Clear" (click)="nameFiltered=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</mat-card>


<div class="content">
  <app-mentors-list *ngIf="editable" [mentors]="mentorsPending"
  [filteredName]="nameFiltered" [checks]="selectedOptions"></app-mentors-list>
  <app-timeline [items]="mentorsAvailables" [filteredResp]="nameFiltered" [editable]="editable"
    [dateStart]="currEdition.dateStart" [dateEnd]="currEdition.dateEnd" [checks]="selectedOptions">
    <!-- <app-mentors-detail-sm #item [mentor]="mentor" [editable]="editable"
      *ngFor="let mentor of mentorsAvailables">
    </app-mentors-detail-sm> -->
  </app-timeline>
</div>
