<!-- Toolbar -->
<mat-toolbar class="toolbar dark-mode" role="heading">
    <img
      class="logo"
      width="60"
      alt="LGJ Logo"
      src="https://limagamejam.com/assets/images/logo_lgj.svg"
    />
    <ul class="menu sitemap">
        <li *ngFor="let link of crrMenu" class="link" 
            [ngClass]="{'active': link.path === activeTab}"
        >
            <a [routerLink]="link.path">{{ link.label }}</a>
        </li>
    </ul>
    <div class="accesibility">
        <button (click)="increaseFontSize()">
            <span class="material-icons">
                text_increase
            </span>
        </button>
        <button (click)="decreaseFontSize()">
            <span class="material-icons">
                text_decrease
            </span>
        </button>
        <button (click)="toggleDarkMode()">
            <span class="material-icons">
                dark_mode
            </span>
        </button>
    </div>

    <ul class="menu login-menu">
        <li class="link" >
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li class="link">
            <a [routerLink]="['/register']">Register</a>
        </li>
    </ul>
</mat-toolbar>