.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--navbar-background-color);
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 24px;
}

.spacer {
    flex: 1;
  }

.toolbar a{
    color: var(--secondary-text-color );
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.menu .link {
    padding: 0 24px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.menu .link:hover, .menu .link.active{
    background-color: var(--secondary-color);
}

.menu .link.active a{
    color: var(--primary-text-color);
}

.accesibility {
    background: var(--primary-background-color);
    padding: 6px 18px;
    border-radius: 24px;
    display: flex;
    grid-gap: 16px;
    margin-right: 24px;
}


.accesibility button{
    background: transparent;
    border: none;
    color: var(--secondary-text-color);
    display: flex;
}

.accesibility .material-icons {
    font-size: 20px;
    cursor: pointer;
}

