/* :host {
    font-size: 1rem;
    font-family: inherit;
} */
.toolbar {
    height: 3.5em;
    max-width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-gap: 1rem;
    background-color: var(--navbar-background-color);
    /* font: var(--font); */
    font-weight: 600;
    font-size: 1em;
    box-shadow: var(--shadow-lvl1);
    position: fixed;
    z-index: 9999;
}

.toolbar .logo {
    margin-left: 0.5rem;
}

.toolbar a {
    color: var(--text-color-secondary );
    text-decoration: none;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.toolbar .sitemap {
    flex: 1;
    overflow-x: auto;
}

.menu .link {
    padding: 0 1em;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.menu .link:hover {
    background-color: var(--corporative-color-darkest-50);
}
.menu .link.active {
    background-color: var(--primary-color);
}

.menu .link.active a {
    color: var(--navbar-background-color);
}

.accesibility {
    background: var(--primary-background-color);
    padding: 0.5rem 1rem;
    border-radius: 2em;
    display: flex;
    grid-gap: 0.5em;
}


.accesibility button {
    background: transparent;
    border: none;
    color: var(--text-color-secondary);
    display: flex;
}
.accesibility button:hover, .accesibility button:active {
    color: var(--text-color-primary);
}

.accesibility .material-icons {
    font-size: 20px;
    cursor: pointer;
}

