<div class="hours">
  <span *ngFor="let hour of hours">{{hour}}</span>
  <span>24</span>
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let day of days">{{day}}</th>
    </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let hour of hours" class="ncols-{{days.length}}">
      <td *ngFor="let day of days">
        <!-- <div class="timeline-item" *ngFor="let item of items">
        </div> -->
      </td>
    </tr>
  </tbody>
</table>
<div class="cards ncols-{{days.length}}">
  <app-timeline-card *ngFor="let item of items; let i = index" [item]="item"
    [qdays]="days.length" [dStart]="days[0].substring(4)" [dEnd]="days[0].substring(4)">
    <!-- [ngStyle]="{
      'width.%' : (item.size?.w??100) ,  'height.em' : (item.size?.h??1) * 4,
      'left.%'  : (item.pos?.x??1),  'top.em'  : (item.pos?.y??i)*4
    }" -->
    <!-- item.pos?.y : -->
  </app-timeline-card>
  <!-- attr.data-numdays="{{days.length}}" -->
  <!-- <ng-content></ng-content> -->
  <!-- <ng-container *ngFor="let item of items">
      <app-timeline-card [item]="item">
      </app-timeline-card>
  </ng-container>  -->
</div>