<mat-tab-group color="white" backgroundColor="primary" 
    animationDuration="0ms"
    (selectedIndexChange)="onSelectedTabChange($event)"
    style="padding-top: 3rem;"
    >
<mat-tab *ngFor="let edition of editions; let i = index"
    [label]="tabTitles[i]"> 
    <div class="content">
    <div>
        <h1>{{ edition.name }}</h1>
    
        <h2>¡Juegos creados!</h2>

        <div class="game-cards" *ngIf="games && games.length > 0">
            <app-card-game
                *ngFor="let game of games" 
                [game]="game">
            ></app-card-game>
        </div>

        <h2 *ngIf="games && games.length == 0">No hay juegos</h2>
    </div>
    </div>
</mat-tab>
</mat-tab-group>
